@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50%));
  }
}

.logos-slide {
  animation: slide 30s linear infinite;
  animation-play-state: running;
  display: inline-flex;
  will-change: transform;
}

.logos-slide:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .logos-slide {
    animation-duration: 60s;
  }
}